/* Task.css */
.completed {
  text-decoration: line-through;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 10px;
}

.task-name {
  flex: 1;
  margin-right: 10px;
  font-size: 16px;
  color: black;
  /* text-decoration: ${({ completed }) => (completed ? 'line-through' : 'none')}; */
}

.task-actions {
  display: flex;
  align-items: center;
}

.task-actions button {
  margin-left: 5px;
  padding: 8px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-actions button:hover {
  background-color: #f2f2f2;
}

.done-icon {
  color: #4caf50;
}

.edit-icon {
  color: #2196f3;
}

.delete-icon {
  color: #f44336;
}

/* You can add more styles as needed */
